<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-3">
  <%# <%= link_to root_path do %>
    <%# <%= image_tag "boat_sale.png", alt: "alttext", class: "logo" %>
  <%# <% end %>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%# <%<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <li class="nav-item active">
        # <%= link_to "My lists", root_path, class: "nav-link" %>
      <%# </li>
#       <li class="nav-item active">
#         <%= link_to "New list", new_list_path, class: "nav-link" %>       <%# </li>
#     </ul>
#   </div>
# </div> %>
<%# <div class="container">
    <div class="row">
      <div class="col col-lg-4 col-md-6 border:1px solid red">
        <h1><strong>Compre o<br>Barco da sua<br>
          vida em um<br>clique</h1>
      </div>
      <div class="col col-lg-4 col-md-6">
        <%= image_tag "boat.jpg", alt: "Boat", width: 300, class:'img_home' %>
      <%# </div>
    </div> %>
<%# </div> %>

<br>
<br>

<div class="container">
    <div class="row">
      <div class="col-md-6"><br><br><br><br><h1>Compre o Barco <br>da sua vida <br>em um clique</div>
      <div class="col-md-6"><%= image_tag "boat.jpg", alt: "Boat", width: 300, class:'img_home' %></div>
    </div>
  </div>
</div>
