<%# <div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-3">
</div> %>

<%# <h1>Teste Cart</h1>
<%= @boat.name %>
<%# <%= @boat.price %>
<%# <div class=”shopping-cart”> %>

<div class='container'>
<h1>Reserva confirmada</h1>
<% c = Boat.all %>

</div>
<div class= "shopping-cart">

<div class=”title”>
<h2>Meu pedido</h2>
</div>

<div class=”item”>

<div class=”buttons”>

<%# <img class=”delete-btn” src="<%= image_path 'Barco_1.png' alt="Card image cap"> %>

</div>

<div container>
    <div class=”image”>
      <div class="row">
        <div class="col-md-6"><img src="<%= image_path 'Barco_1.png'%>" alt="Card image cap"/>
        <div class="col-md-6"><h3></h3>
      </div>
    </div>
     <div class="col-md-6"><p> Parabéns! A sua reserva foi confirmada. <br><br> Em breve o proprietário do Barco entrará em contato com você para finalizar o processo de venda. <br><br>
     <%= image_tag "sucesso3.png", width: '50%' %>
    </div>
</div>

<div class=”description”>

<span><%= c.find(params[:boat_id]).name %>
</span>

</div>

<%# <div class=”quantity” >Quantidade:

<input value=1>

</div> %>

<div class=”total-price”>R$<%= c.find(params[:boat_id]).price %>
</div>

</div>

<%# <%= simple_form_for [@cart, @finished] do |g| %>
<%# <%= g.submit "Finish"%>
<%# <% end %>
