<%# <div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-3">
</div> %>

<%# <h1>Teste Cart</h1>
<%= @boat.name %>
<%# <%= @boat.price %>
<%# <div class=”shopping-cart”> %>
<div class='container'>
<h1>CARRINHO DE COMPRAS</h1>

</div>
<div class= "shopping-cart">

<div class=”title”>
<h2>Meus Pedidos</h2>
</div>

<div class=”item”>

<div class=”buttons”>

<%# <img class=”delete-btn” src="<%= image_path 'Barco_1.png' alt="Card image cap"> %>

</div>

<div class=”image”>

<img src="<%= image_path 'Barco_1.png'%>" alt="Card image cap" />

</div>

<div class=”description”>

<span>NHD 340</span>

</div>

<%# <div class=”quantity” >Quantidade: 

<input value=1>

</div> %>

<div class=”total-price”>R$540.890,00</div>

</div>

<%# <%= simple_form_for [@cart, @finished] do |g| %>
<%# <%= g.submit "Finish"%>
<%# <% end %>


