<div class="container">
  <h1>Barcos disponíveis</h1>
  <% b = ["Barco_1.png", "Barco_2.jpeg", "Barco_3.jpeg", "Barco_4.jpeg", "Barco_5.jpeg", "Barco_6.jpeg"] %>
  <% c = Boat.all %>
  <%# <%= c[0].name %>

  <div class="container w-1000">
    <div class="card-group">
      <div class="card m-3">
        <img class="card-img-top" src="<%= image_path 'Barco_1.png'%>" alt="Card image cap">
        <div class="card-body">
          <div class="details">
            <h5 class="card-title"><%= c[0].name %></h5>
            <p class="card-text">R$<%= c[0].price %></p>
          </div>
          <div class="Comprar"><%= link_to "Reservar", boat_path(c[0]), class: "btn btn-primary" %></div>
        </div>
      </div>
      <div class="card m-3">
        <img class="card-img-top" src="<%= image_path 'Barco_2.jpeg'%>" alt="Card image cap">
        <div class="card-body">
          <div class="details">
            <h5 class="card-title"><%= c[1].name %></h5>
            <p class="card-text">R$<%= c[1].price %></p>
          </div>
          <div class="Comprar"><%= link_to "Reservar", boat_path(c[1]), class: "btn btn-primary" %></div>
        </div>
      </div>
    <div class="card m-3">
        <img class="card-img-top" src="<%= image_path 'Barco_3.jpeg'%>" alt="Card image cap">
        <div class="card-body">
          <div class="details">
            <h5 class="card-title"><%= c[2].name %></h5>
            <p class="card-text">R$<%= c[2].price %></p>
          </div>
          <div class="Comprar"><%= link_to "Reservar", boat_path(c[2]), class: "btn btn-primary" %></div>
        </div>
      </div>
    </div>

    <div class="card-group">
      <div class="card m-3">
        <img class="card-img-top" src="<%= image_path 'Barco_4.jpeg'%>" alt="Card image cap">
        <div class="card-body">
          <div class="details">
            <h5 class="card-title"><%= c[3].name %></h5>
            <p class="card-text">R$<%= c[3].price %></p>
          </div>
          <div class="Comprar"><%= link_to "Reservar", boat_path(c[3]), class: "btn btn-primary" %></div>
        </div>
      </div>
      <div class="card m-3">
        <img class="card-img-top" src="<%= image_path 'Barco_5.jpeg'%>" alt="Card image cap">
        <div class="card-body">
          <div class="details">
            <h5 class="card-title"><%= c[4].name %></h5>
            <p class="card-text">R$<%= c[4].price %></p>
          </div>
          <div class="Comprar"><%= link_to "Reservar", boat_path(c[4]), class: "btn btn-primary" %></div>
        </div>
      </div>
    <div class="card m-3">
        <img class="card-img-top" src="<%= image_path 'Barco_6.jpeg'%>" alt="Card image cap">
        <div class="card-body">
          <div class="details">
            <h5 class="card-title"><%= c[5].name %></h5>
            <p class="card-text">R$<%= c[5].price %></p>
          </div>
          <div class="Comprar"><%= link_to "Reservar", boat_path(c[5]), class: "btn btn-primary" %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path 'Barco_1.png'%>)">
    NHD 340
    <div class="btn btn-ghost">
      R$540.890,00
    </div>
  </div>
