<!-- <h2> BOAT DETAILS </h2>
<h3><%= @boat.name %></h3>

<p> Price: <%= @boat.price %></p>


<% b_photo_detail = ["Barco_1-det-1.png", "Barco_1-det-2.png", "Barco_1-det-3.png", "Barco_1-det-4.png"] %>
 <ul>
  <% b_photo_detail.each do |b|%>
    <%= image_tag b %>
  <% end %>
 </ul>
<%= link_to 'Go back to all boats', boats_path %> -->

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-3">
</div>
BARCOS
<%# <h2>Teste</h2>
<%= @boat.name %>
<%# <%= @boat.price %> 

<div class=”title”></div>

<div class=”item”>

<div class=”buttons”>

<%# <img class=”delete-btn” src="<%= image_path 'Barco_1.png' alt="Card image cap"> %>

</div>

<div class=”image”>

<img src="<%= image_path 'Barco_1.png'%>" alt="Card image cap" />

</div>

<div class=”description”>

<span>NHD 340</span>

</div>

<div class=”quantity” >Quantidade: 

<input value=1>

</div>

<div class=”total-price”>R$540.890,00</div>

</div>

<%= simple_form_for [@boat, @cart] do |f| %>
<%= f.submit "Add to cart"%>
<% end %>

