<!-- <h2> BOAT DETAILS </h2>
<h3><%= @boat.name %></h3>

<p> Price: <%= @boat.price %></p>


<% b_photo_detail = ["Barco_1-det-1.png", "Barco_1-det-2.png", "Barco_1-det-3.png", "Barco_1-det-4.png"] %>
 <ul>
  <% b_photo_detail.each do |b|%>
    <%= image_tag b %>
  <% end %>
 </ul>
<%= link_to 'Go back to all boats', boats_path %> -->

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-3">
</div>

<h2>Teste</h2>
<%= @boat.name %>
<%= @boat.price %>

<%= simple_form_for [@boat, @cart] do |f| %>
<%= f.submit "Add to cart"%>
<% end %>

