<style>

</style>


</body>


<div class="slider">

    <h2>NHD 340</h2>
    <h2>R$540.890,00</h2>
    <%= link_to "Comprar", class: "btn btn-primary" %>
<!-- boat_path(c[0]) -->
    <div class="slides">
      <input type="radio" name="radio-btn" id="radio1">
      <input type="radio" name="radio-btn" id="radio2">
      <input type="radio" name="radio-btn" id="radio3">
      <input type="radio" name="radio-btn" id="radio4">

      <div class="slide first">
       <img src="<%= image_path 'Barco_1.png'%>" alt="Card image cap-1">
      </div>
      <div class="slide">
        <img src="<%= image_path 'Barco_1-det-1.png'%>" alt="Card image cap-det1">
      </div>
      <div class="slide">
        <img src="<%= image_path 'Barco_1-det-2.png'%>" alt="Card image cap-det2">
      </div>
      <div class="slide">
        <img src="<%= image_path 'Barco_1-det-3.png'%>" alt="Card image cap-det3">
      </div>

      <div class="navigation-auto">
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>
        <div class="auto-btn4"></div>
      </div>

    </div>
    <div class="manual-navigation">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
    </div>
 </div>

  <script src="/root/code/CintiaPizzatto/boat_sale/app/javascript/script.js"></script>
</body>
